html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body { margin: 0; }

/* HTML5 display definitions */
article,aside,details,figcaption,figure,footer
,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

a { }

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img { border: 0; }

figure { margin: 1em 40px; }

hr {
    box-sizing: content-box;
    height: 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hide {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}



/* Forms */
button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button { overflow: visible; }

button,select { text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input { line-height: normal; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th { padding: 0; }

/* Print styles */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited { text-decoration: underline; }

    a[href]:after { content: " (" attr(href) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    img { page-break-inside: avoid; }

    img { max-width: 100% !important; }

    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }

    h2,h3 {
        page-break-after: avoid;
    }
}
